* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  min-height: 100vh;
  background-color: skyblue;
  border: 10px solid rgb(1, 89, 95);
}